<!DOCTYPE html>
<html lang="ru">
<head>
    <title>регистрация СППР</title>
</head>
<body>
<h2>Здравствуйте, {{lastName}} {{firstName}} {{middleName}} </h2>
<p>Ваш профиль был зарегистрирован от организации {{organizationName}} на платформе СППР!</p>
<p>Ваши данные для входа:
    Логин: {{email}}
    Пароль: {{password}}</p>
</body>
</html>
